DATABASE_URL="mysql://root:@localhost:3306/nebeng"

DB_HOST="localhost"
DB_PORT="3306"
DB_USER="root"
DB_PASSWORD=""
DB_NAME="nebeng"

PORT=3000
NODE_ENV=development

JWT_SECRET=""
JWT_EXPIRES_IN="1d"

FRONTEND_URL="http://localhost:5173"

# Kredensial Xendit (Mode Uji Coba / Sandbox)
XENDIT_SECRET_KEY=""
XENDIT_CALLBACK_TOKEN=""